# Django
*.pyc
__pycache__/
db.sqlite3
backend/media/
backend/static/
backend/.env
backend/venv/

# Node / Frontend
node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.production.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
